.bg-dark {
  background-color: grey;
}
.text-white {
  color: white;
}
.custom-img {
  border-radius: 10px;
}
.custom-button {
  color: white;
  border-color: white;
}

.shopping-card {
  position: fixed;
  right: 10px;
  top: 0px;
}
